* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}



/* Navbar */
.navbar{
    border-bottom: 1px solid black;
}
.search-input{
    border-radius: 100px;
}
/* Navbar End */